body {
    color: #737373;
    font-family: "Roboto", sans-serif;
  }
  
  img {
    max-width: 100%;
  }
  
  
  a {
    color: #737373;
  }
  
  
h1 {
    padding: 60px;
    text-align: center;
    background: #1aa9bc;
    color: white;
    font-size: 30px;
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    line-height: 1;
  }

h4 {
    text-align: center;
    font-size: 1.350em;
    line-height: 1;
    margin: 1em 0;
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    color: #4b4b4b;
  }

  h2,
  h3 {
    text-align: center;

    font-size: 1.875em;
    line-height: 1;
    margin: 1em 0;
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    color: #4b4b4b;
  }
  
  h3 {
    font-size: 1.25em;
  }
  

  .products-heading select {
    appearance: none;
    border: 0;
    
    font-size: 1.25em;
    font-family: inherit;
    margin-right: var(--body-padding);
    padding-right: 1em;
  }
  
  .products-heading [role="radiogroup"] {
    display: none;
  }


  .option select{
    appearance: none;
    border: 0;
    text-align: center;

    font-size: 1.25em;
    font-family: inherit;
    margin-right: var(--body-padding);
    padding-right: 1em;
  }

h5 {
    text-align: center;
    font-size: 1.150em;
    line-height: 1;
    margin: 1em 0;
    font-family: "DM Serif Display", serif;
    font-weight: normal;
    color: #4b4b4b;
}


.fit-picture {
  width: 250px;
}
